JIRA_BASE_URL=https://murthyrajender.atlassian.net
JIRA_TOKEN_URL=https://auth.atlassian.com/oauth/token
JIRA_CLIENT_ID=
JIRA_CLIENT_SECRET=
JIRA_API_EMAIL=your-email@example.com
JIRA_API_TOKEN=
CONFLUENCE_BASE_URL=https://murthyrajender.atlassian.net/wiki
CONFLUENCE_TOKEN_URL=https://auth.atlassian.com/oauth/token
CONFLUENCE_CLIENT_ID=
CONFLUENCE_CLIENT_SECRET=
CONFLUENCE_API_EMAIL=your-email@example.com
CONFLUENCE_API_TOKEN=
DB_URL=sqlite:///data.db
